[loggers]
keys=root

[handlers]
keys=file

[formatters]
keys=root

[logger_root]
level=NOTSET
handlers=file
formatters=root

[handler_file]
class=FileHandler
level=INFO
formatter=root
args=('detections.log', 'w')

[formatter_root]
format=%(asctime)s %(levelname)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter

